*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    background-color:#eee;
    margin: 30px auto;
    display: grid;

    grid-template-rows: repeat(2, 150px);
    grid-template-columns:repeat(auto-fit, minmax(150px,1fr));

    width: 90%;

    /* grid-template-rows: repeat(2, minmax(150px, min-content));
    grid-template-columns: max-content 1fr min-content; */


    
}

.items {
    padding: 20px;
    font-size: 30px;

}
.item1 {
    /* grid-area: head; */
    background-color: pink;

    
}
.item2 {
    background-color: teal;
    
}
.item3 {
    background-color: yellowgreen;
}
.item4 {
    background-color: crimson;
}
.item5 {
    background-color: goldenrod;
}
.item6 {
    /* grid-row: header-start / header-end; */
    background-color: indianred;
}
