*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    background-color:#eee;
    width: 1000px;
    margin: 30px auto;
    height: 1000px;

    display: grid;
    grid-template-rows: repeat(2, 150px);
    grid-template-columns: repeat(3, 150px);

    justify-content: center;
    /* justify-content: start; */
    /* justify-content: end; */
    /* justify-content: space-evenly; */
    /* justify-content: space-around; */
    /* justify-content: space-between; */

    /* align-content: center; */
    align-content: space-between;
    /* align-content: space-evenly; */


    grid-gap: 30px;
    
}

.items {
    padding: 20px;
    font-size: 30px;

}
.item1 {
    /* grid-area: head; */
    background-color: pink;

    
}
.item2 {
    background-color: teal;
    
}
.item3 {
    background-color: yellowgreen;
}
.item4 {
    background-color: crimson;
}
.item5 {
    background-color: goldenrod;
}
.item6 {
    /* grid-row: header-start / header-end; */
    background-color: indianred;
}
